.him {
    position: fixed;
    width: 40rem;
    left: -5rem;
    bottom: 0px;
    z-index: -99999999;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #4674d0;
    color: white;
    overflow-x: hidden;
}

.title {
    position: fixed;
    top: calc(50% - 7rem);
    right: 2rem;
    text-align: right;
}

.title h1 {
    font-size: 4rem;
}

button {
    outline: 0px;
    background-color: #ec8aff;
    border-radius: .5rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    border: 0px;
    cursor: pointer;
    color: white;
    position: relative;
    top: 0px;
    transition: top .2s, opacity .2s;
    opacity: 1;
}

button:hover {
    top: .5rem;
    opacity: .8;
}

.nav {
    width: 100vw;
    top: 0px;
    left: 0px;
    padding: .5rem;
    padding-top: 0rem;
    position: fixed;
    z-index: 999999999999999999999;
    background-color: #4674d0;
    padding-bottom: 1rem;
}

.nav .icon {
    height: 2rem;
    margin-right: .5rem;
    position: relative;
    top: .6rem;
}

.details {
    position: relative;
    width: calc(100vw - 14px);
    left: -8px;
    top: 100vh;
    z-index: 9999;
    background-color: #1e2533;
    padding: 2rem;
    height: calc(100vh - 5rem);
}

.details p {
    width: 60vw;
}

@media (pointer:none), (pointer:coarse) {
    .title {
        top: 6rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .details p {
        width: 100%;
    }
}