.him {
    position: fixed;
    width: 40rem;
    left: -5rem;
    bottom: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e2533;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    position: fixed;
    top: calc(50% - 7rem);
    right: 2rem;
    text-align: right;
}

.title h1 {
    font-size: 4rem;
}

button {
    outline: 0px;
    background-color: #ec8aff;
    border-radius: .5rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    border: 0px;
    cursor: pointer;
    color: white;
    position: relative;
    top: 0px;
    transition: top .2s, opacity .2s;
    opacity: 1;
}

button:hover {
    top: .5rem;
    opacity: .8;
}

.nav {
    width: 100vw;
    top: 0px;
    left: 0px;
    padding: .5rem;
    padding-top: 0rem;
}

.nav .icon {
    height: 2rem;
    margin-right: .5rem;
    position: relative;
    top: .6rem;
}

@media only screen and (max-width: 600px) {
    .title {
        top: 6rem;
    }

    .title h1 {
        font-size: 2rem;
    }
}